@page
@model FluffyBunny.Admin.Pages.Tenant.IndexModel
@{
    ViewData["Title"] = "Tenant";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="./Tenant/Index">@Model.TenantId</a></li>
    </ol>
</nav>