@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">

    @if (HttpContext.User.Identity.IsAuthenticated)
    {

        <div class="col-md-9">
            <h2>User</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in Model.Claims)
                    {
                        <tr>
                            <th scope="row">@claim.Type</th>
                            <td>@claim.Value</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</div>