@page
@model FluffyBunny.Admin.Pages.Tenant.IndexModel
@{
    ViewData["Title"] = "Tenant";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Index">Tenants</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="./Index">@Model.TenantId</a></li>
    </ol>
</nav>

<form method="post">
    <input hidden asp-for="TenantId" />
    <div class="card">
        <div class="card-header">
            <a class="btn btn-sm btn-primary" asp-page="./Clients/Index">Clients</a>
            <a class="btn btn-sm btn-primary" asp-page="./ApiResources/Index">Api Resources</a>
            <a class="btn btn-sm btn-primary" asp-page="./ExternalServices/Index">External Services</a>
            <a class="btn btn-sm btn-primary" asp-page="./OpenIdConnectAuthorities/Index">OpenIdConnect Authorities</a>
            <a class="btn btn-sm btn-primary" asp-page="./Certificates/Index">Certificates</a>
        </div>
        <div class="card-body">
            <tr>

                <td class="w-50">
                    <input asp-for="Input.Enabled"/>
                    <label>Enabled</label>
                </td>
            </tr>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary">Update</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}